:root {
  --color-primary: #0b3043;
  --color-primary-light: #56839c;
}

.app {
  height: 100vh;
}

.nav-grid {
  background-image: url('/portchain.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.info-grid {
  background-color: var(--color-primary-light);
  background-image: url('/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.error-grid {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.info-table-grid,
.info-charts-grid {
  max-height: 100%;
  overflow: hidden;
  padding: 42px;
}

.info-charts-grid {
  padding-left: 0;
}

.info-table {
  overflow: auto;
}

.info-table-detail {
  padding: 0 6px 12px 6px;
}

.info-chart-bars-label {
  text-shadow: -1px 1px 1px var(--color-primary), 1px 1px 1px var(--color-primary),
  1px -1px 1px var(--color-primary), -1px -1px 1px var(--color-primary);
}

.info-heading,
.info-table-heading,
.recharts-cartesian-axis-tick {
  font-family: 'Candara', sans-serif !important;
  font-size: large;
  font-style: italic;
}

.MuiTableSortLabel-icon {
  filter: invert();
  padding-left: 6px;
  padding-right: 6px;
}
